{% load static %}
<!-- Main section  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Docjini-Contact form</title>
    <meta name="description"
        content="Send message to the docjini admin, regarding any feedbacks or suggestions about docjini">
    {% include 'find/header.html' %}
</head>

<body>

    <!-- Nav bar -->
    {% include 'find/navbar.html' %}

    <main>
        {% if name %}
        <div class="container">
            <div class="row">
                <br>
                <p class="">
                <h4>{{name|title}} , Your message has been send !!.
                    Have a Nice Day 😇</h4>
                </p>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col m10 offset-m1 s12">
                    <h4 class="center-align">Contact Form</h4>
                    <div class="row">
                        <form class="col s12" action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col m12 s12">
                                    <i class="prefix material-icons">person</i>
                                    <input id="first_name" type="text" name="name" required class="validate">
                                    <label for="first_name">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m12 s12">
                                    <i class="mdi-content-mail prefix material-icons">mail</i>
                                    <input id="email" type="email" class="validate" name="mail" required>
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col l12 s12">
                                    <i class="prefix material-icons">mode_edit</i>
                                    <textarea id="subject" name="subject" class="materialize-textarea"
                                        required></textarea>
                                    <label for="subject">subject</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col l12 s12">
                                    <i class="prefix material-icons">comment</i>
                                    <textarea id="message" class="materialize-textarea" name="message"
                                        required></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>

                            <!-- <div class="divider"></div> -->

                            <div class="divider"></div>
                            <div class="row">
                                <div class="col m12 l12 s12">
                                    <p class="center-align">
                                        <button class="btn waves-effect waves-light z-depth-3 blue darken-4  "
                                            type="submit" name="action">Send Message</button></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
    </main>
    {% include 'find/footer.html' %}
</body>

</html>