{% load static %}
    <meta charset="UTF-8">
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Sacramento&display=swap"
      rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}"> -->
    {% include 'find/css.html' %}
    <script data-ad-client="ca-pub-2099090024577149" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="google-site-verification" content="X71h7efkIj0wc3DUsC1OB7HPImbC74bLchHRZ9Pvy9s" />